@page
@model IndexModel
@{
    ViewData["Title"] = "The Kadirojo's";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for visiting the headquarter of The Kadirojo's family.</p>
</div>
<footer class="text-center">
    <small>Copyright &copy;@DateTime.Now.ToString("yyyy") The Kadirojo's family</small>
</footer>